*{
    box-sizing: border-box;
    margin: auto;
}
.container-logo{
    background-image: url("../img/pattern.png");
    background-color: rgb(84, 163, 253);
    height: 80px;
    background-size: 16%
}
#logo{
    width: 130px;
    margin: 40 5;
}
#first-title{
    padding-top: 15px;
}